@model List<MovieListModel>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>FİLM ADI</th>
            <th>PUANI</th>
            <th>YAPIM YILI</th>
            <th>FRAGMAN</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.rank</td>
                <td>@item.title</td>
                <td>@item.year</td>
                <td>@item.rating</td>
                <td><a href="#" class="btn btn-outline-dark">Fragman</a></td>
            </tr>
        }
    </table>
</div>